.header {
    height: 25vh;
    background: rgb(5,0,87);
    background: linear-gradient(128deg, rgba(223,252,109,1) 0%, rgba(195,212,47,1) 70%, rgba(165,184,0,1) 100%);
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 23vh;
    margin-top: 1%;
    margin-left: 1%;
}

.section-heading {
    margin: 0 auto 30px;
}

.section-heading h1 {
    padding-top: 10px;
    font-weight: 500;
}

.photo-card {
    background-color: #e7e5ff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 700px) {
    .photo-card {
        flex-direction: row;
    }
}

.photo-back {
    background-image: url("../img/Corona_Info.svg");
    background-position: center;
    background-color: white;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 250px;
}

@media screen and (min-width: 700px) {
    .photo-back {
        border-top-left-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        width: 50%;
    }
}

.photo-details {
    padding: 2.1875em 5%;
}

@media screen and (min-width: 700px) {
    .photo-details {
        width: 50%;
    }
}

.photo-details h1, .photo-details h4 {
    color: #010014;
    font-weight: 500;
    margin: 0;
}

.photo-details h1 {
    font-size: 125%;
    line-height: 1;
    margin-bottom: 0.35em;
}

.photo-tags ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 87.5%;
    margin: 0.35em 0 0;
    text-transform: lowercase;
}

.photo-tags li {
    margin: 0 0.35em 0.35em 0;
}

.photo-tags a {
    background-color: #191e20;
    border-radius: 50px;
    color: #010014;
    display: block;
    padding: 0.3125em 1.25em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.photo-tags a:hover, .photo-tags a:focus {
    color: #e37544;
}

.photo-details p {
    color: #010014;
}
