<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <title>Home | Praxis-Lenz</title>
</head>
<body>
<main>
    <section class="header">
        <div class="header-logo">
            <img src="assets/img/Logo.svg" alt="Logo">
        </div>
    </section>
    <section class="news">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-8">
                    <div class="section-heading text-center">
                        <h1>Neuigkeiten</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="photo-card">
                    <div class="photo-back"></div>
                    <div class="photo-details">
                        <h1>Corona Infos</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sodales elementum mi
                            non hendrerit. Proin tempor facilisis felis nec ultrices. Duis nec ultrices neque.
                            Proin semper ultricies turpis, vel faucibus velit sodales vitae. Class aptent taciti
                            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        <div class="photo-tags">
                            <ul>
                                <li>Last edit: {{.Timestamp}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
