<!DOCTYPE html>
<body>
<h2>Inhalt</h2><br>
<form action="/admin/settings" method="POST">
    <label for="title">Titel: </label><br>
    <input type="text" id="title" name="title"
            {{if .CurrentTitle}}
                value="{{.CurrentTitle}}"
            {{end }}
    ><br>
    <label for="content">Inhalt: </label><br>
    <input type="text" id="content" name="content"
            {{if .CurrentContent}}
                value="{{.CurrentContent}}"
            {{end }}
    ><br><br>
    <input type="submit" value="Ändern">
</form>
<br><br>
</body>