<!DOCTYPE html>
<body>
<h2>Inhalt</h2><br>
<form action="/admin/settings" method="POST">
    <label for="contentType">Typ:</label>
    <select name="contentType" id="contentType">
        {{if .ContentTypes}}
            {{range $val := .ContentTypes}}
                <option value="{{$val}}">{{$val}}</option>
            {{end}}
        {{end }}
    </select>
    <label for="content">Inhalt: </label><br>
    <textarea id="content" name="content">{{if .CurrentContent}}{{.CurrentContent}}{{end }}</textarea>
    <br><br>
    <input type="submit" value="Ändern">
</form>
<br><br>
</body>